

.tiles {
  font-family: 'DM Sans', sans-serif;
  width: 1216px;
  height: 345px;
  gap: 40px; 
  display: flex;
  margin: 0 auto;
 
  
}

.container {
  width: 640px; 
  height: 260px;
  gap: 32px;
  border: 1px solid #E2E2E2;
  opacity: 1;
}

.container_titulo {
  box-sizing: border-box;
  width: 640px;
  height: 60px;
  border: 1px solid #E2E2E2;
  gap: 8px;
 padding-right: 16px;
padding-left: 16px;

}





/* botão prosseguir */
.botao_container {
  width: 640px;
  height: 42px;
 position: absolute;
 border-top: 1px;
  
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
 
}

.prosseguirBtn {
   width: 142px;              
  height: 40px;              
  border-radius: 44px;       
  background: #ccc;          
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  cursor: not-allowed;
  gap:8px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 24px;
  padding-left: 24px;

}

.prosseguirBtn.ativo {
  background-color: #1E90FF;
  cursor: pointer;
}

.prosseguirBtn.ativo:hover {
  background: #1E90FF;
}


.container_campos {
   box-sizing: border-box;
  display: flex;
  width: 640px;
  height: 97px;
  gap:4px;
  padding-top: 12px;
  
padding-right: 16px;
padding-bottom: 16px;
padding-left: 16px;
}

/* cada campo (label + select) */
.campo {
  width: 298px;
  height: 76px;
    box-sizing: border-box;
  padding-bottom: 10px;
  padding-right: 16px;
  padding-left: 16px;
  flex: 1; /* divide igualmente */
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.campo label {
  margin-bottom: 4px;
  font-weight: bold;
  
}

/* select estilizado */


.input {
   box-sizing: border-box;
  padding: 10px 16px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 298px;
  height: 44px;
  justify-content: space-between;
  border-radius: 44px;
}

.erro {
  color: red;
  font-size: 0.8rem;
  margin-top: 4px;
}
