.botaoVoltar {
width: 112px;
height: 40px;
gap: 8px;
border-radius: 44px;
border-width: 1px;
padding-top: 10px;
padding-right: 24px;
padding-bottom: 10px;
padding-left: 24px;
border: 1px solid #E2E2E2;
background-color: white;

}

.botaoVoltar:hover {
  background-color: #E2E2E2;
  
}
