.header{
background-color: #1E90FF;
display: flex;              
  justify-content: space-between; 
  align-items: center; 
  width: 100%;                
  max-width: 1440px;          
  height: 60px;               
  padding: 12px 32px;        
  box-sizing: border-box;    
  margin-bottom: 10px; 
}

.logo img{
    width: 128px;
height: 32px;
 
opacity: 1;

}